
.cards{
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  height: 800px;
  overflow:scroll; 
 
}
.cards::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}


@media (max-width:600px){
  .cards{
    justify-content: center;
    
    flex-wrap: wrap;
    height: auto;
  }
}
/* .cards {
  flex: 1; 
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
} */
/* Responsive Styles */
