/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles */
.card {
  position: relative;
  width: 300px;
  border: 1px solid #121111;
  object-fit: cover;
  border-radius: 15px;
  margin: 20px;
  display: inline-block;
  background-size: cover;
}

.CardImg {
  object-fit: cover;
  height: 300px;
  left: 50%;
  position: sticky;
  background-size: cover;
  background-position: center;
}

.cardTitle {
  position: absolute;
  top: 83%;
  left: 49.99%;
  transform: translate(-50%, -50%);
  background-color: rgba(30, 52, 60, 0.5);
  color: #f7f1f1;
  width: 100%;
  height: 35%;
  font-weight: bold;

  font-size: 30px;
  text-align: center;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
