/* Import Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles */
.card {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin: 20px;
  display: inline-block;
  background-color: rgb(226 232 240);
  background-size: cover;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Adding shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Adding transition */
}

.card:hover {
  background-color: #7b5dc8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1); /* Adding shadow */
  color: white;
}

.card:active {
  background-color: #6a459e; /* Adjust this color to your preference */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Adjust shadow on click */
}
