.btn {
  width: 180px;
  height: 60px;
  background: transparent;
  outline: none;
  font-size: larger;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7b5dc8;
  color: aliceblue;
  border-radius: 10px;
}

.btn:hover {
  transition: 0.2s;
}
