.mainjobs{
 display: flex;
 height: 100vh;
 overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 600px) {
  .mainjobs {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}