.main {
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
  box-shadow: 0 0 10px rgba(236, 231, 231, 0.5);
  background-color: white;
}
body {
  background: transparent;
  background: rgb(243, 242, 239);
}
.verticalline {
  border-left: 1px solid rgb(230, 213, 213); /* Adjust color and thickness as needed */
  /* Adjust height as needed */
  margin: 0 10px; /* Centers the line */
  margin-top: 7px;
  height: 55px;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  position: relative;
  z-index: 1000;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  color: #aaa;
}
.edit1 {
  height: 90vh;
  width: 40vw;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.jobform {
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}
.jobform .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.jobform .btn-primary:hover {
  background-color: #2f3439;
  border-color: #c1c8cf;
}
