/* SearchCandidate.css */
.search-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
}

.search-form label {
  margin-top: 3px;
}

.search-form .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 10px;
  width: 140px;
}

.search-form .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.radio-inline {
  margin-right: 10px;
}
