.logo {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}
.nav {
  background-color: #ffffff;
}
.btn {
  background-color: #fcfcfc;
  color: #201f20;
  padding-top: 0.75rem; /* equivalent to py-3 */
  padding-bottom: 0.75rem; /* equivalent to py-3 */
  border-radius: 0.375rem; /* equivalent to rounded-md */
  font-size: 1.25rem; /* equivalent to text-xl */
  font-weight: bold; /* equivalent to font-bold */
  padding-left: 6px; /* equivalent to px-8 */
  padding-right: 6px; /* equivalent to px-8 */
  margin-left: 1.25rem; /* equivalent to mx-5 */
  margin-right: 1.25rem; /* equivalent to mx-5 */
  font-family: Arial, sans-serif;
}
.btn:hover {
  background-color: #7b5dc8;
  color: #f8f6f8;
  padding-top: 0.75rem; /* equivalent to py-3 */
  padding-bottom: 0.75rem; /* equivalent to py-3 */
  border-radius: 0.375rem; /* equivalent to rounded-md */
  font-size: 1.25rem; /* equivalent to text-xl */
  padding-left: 6px; /* equivalent to px-8 */
  padding-right: 6px; /* equivalent to px-8 */
  margin-left: 1.25rem; /* equivalent to mx-5 */
  margin-right: 1.25rem; /* equivalent to mx-5 */
  font-family: Arial, sans-serif;
}
