.container {
  margin-top: 30px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  width: 600px;
}

.edit {
  display: flex;
  justify-content: space-between;
}

label {
  padding: 10px 10px;
}

input[type="text"] {
  width: 300px;
  flex: 1;
}

@media (max-width: 550px) {
  .edit {
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    margin-bottom: 5px;
  }

  input[type="text"] {
    width: au;
    margin-bottom: 10px;
  }
}
.edit button {
  color: blue;
  border: none;
}
