.line {
  background-color: #f8f6f8;
  border: 1px solid white;
}
.sidename {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.sidebar {
  height: 100vh;
  width: 250px;
  left: 0;
  background-color: #111;
  padding-top: 20px;
  transition: width 0.5s;
}

.sidebar.open {
  width: 0;
  overflow: hidden;
}

.sidebar-menu {
  padding: 0;
  margin-top: 10px;
}

.sidebar-menu li {
  margin-bottom: 20px;
  margin-left: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.sidebar-toggle {
  display: none;
}

.btn {
  background-color: #fcfcfc;

  color: #201f20;
  padding-top: 0.5rem; /* equivalent to py-3 */
  padding-bottom: 0.5rem; /* equivalent to py-3 */
  border-radius: 0.375rem; /* equivalent to rounded-md */
  font-size: 1.25rem; /* equivalent to text-xl */
  font-weight: bold; /* equivalent to font-bold */
  padding-left: 6px; /* equivalent to px-8 */
  padding-right: 6px; /* equivalent to px-8 */
  margin-left: 1.25rem; /* equivalent to mx-5 */
  margin-right: 1.25rem; /* equivalent to mx-5 */
  font-family: Arial, sans-serif;
}
.btn:hover {
  background-color: #c85d5d;
  color: #f8f6f8;
  padding-top: 0.5rem; /* equivalent to py-3 */
  padding-bottom: 0.5rem; /* equivalent to py-3 */
  border-radius: 0.375rem; /* equivalent to rounded-md */
  font-size: 1.25rem; /* equivalent to text-xl */
  padding-left: 6px; /* equivalent to px-8 */
  padding-right: 6px; /* equivalent to px-8 */
  margin-left: 1.25rem; /* equivalent to mx-5 */
  margin-right: 1.25rem; /* equivalent to mx-5 */
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 0;
    overflow: hidden;
    transition: width 0.5s;
  }

  .sidebar.open {
    width: 250px;
  }

  .sidebar-toggle {
    display: block;
    position: absolute;
    top: 80px;
    left: 5px;
    z-index: 999; /* Ensure it's above other content */
    font-size: 24px;
    color: red;
    cursor: pointer;
  }
}
